<!doctype HTML>

<html>

<head>
    <title>Precious</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/animations.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <!-- Add icon library -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Finally, load our JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/home.js"></script>
</head>

<body>

    <div class="fade-in">

        <div class="head">

            <div id="profile-icon">
                <a href="allergies"><img src="/images/cog.png"></a>
            </div>

            <div id="titletext">
                <h1>Eateries Nearby</h1>
            </div>
        </div>

        <div class="filter-bar">
            <div id="all">
                <a href="placeholder">
                    <img src="images/filter_all.png"><br>
                    <p id="all-text" class="selected">All</p>
                </a>
            </div>
            <div id="dining-hall">
                <a href="placeholder"><img src="images/filter_dininghall.png"><br>
                    <p id="dining-hall-text">Dining Halls</p>
                </a>
            </div>
            <div id="cafe">
                <a href="placeholder"><img src="images/filter_cafe.png"><br>
                    <p id="cafe-text">Cafes</p>
                </a>
            </div>
            <div id="markets">
                <a href="placeholder"><img src="images/filter_market.png"><br>
                    <p id="markets-text">Markets</p>
                </a>
            </div>
        </div>

        <div id="all-list" class="restaurant-list">
            {{#each all}}
            <a href="menu?restaurant={{this}}">
                <div class="restaurant-item">
                    <div class="restaurant-title">{{this}}</div>
                    <div class="restaurant-menu">Menu →</div>
                </div>
            </a>
            {{/each}}
        </div>

        <div id="dining-halls-list" class="restaurant-list hide">
            {{#each dining_halls}}
            <a href="menu?restaurant={{this}}">
                <div class="restaurant-item">
                    <div class="restaurant-title">{{this}}</div>
                    <div class="restaurant-menu">Menu →</div>
                </div>
            </a>
            {{/each}}
        </div>

        <div id="cafes-list" class="restaurant-list hide">
            {{#each cafes}}
            <a href="menu?restaurant={{this}}">
                <div class="restaurant-item">
                    <div class="restaurant-title">{{this}}</div>
                    <div class="restaurant-menu">Menu →</div>
                </div>
            </a>
            {{/each}}
        </div>

        <div id="markets-list" class="restaurant-list hide">
            {{#each markets}}
            <a href="menu?restaurant={{this}}">
                <div class="restaurant-item">
                    <div class="restaurant-title">{{this}}</div>
                    <div class="restaurant-menu">Menu →</div>
                </div>
            </a>
            {{/each}}
        </div>

    </div>

</body>

</html>